{% extends 'layout.html' %}

{% block body %}



<div class="panel panel-default">
<div class="panel-body">
{% for i in e %}
<h4>{{i.title}}</h4>
<h5>{{i.category.title}} / {{i.created}}</h5>
<p>{{i.text}}</p>


{% for i in c %}

{{i.text}} - by {{i.name}} <a href="/blog/comment/delete/{{i.id}}/">delete</a><br>
{% endfor %}

<br>
<form method="post" class="form-group" action="/blog/comment/{{i.id}}/">
 <input type="hidden" name="entry_id" value="{{i.id}}" />
 <div class="col-md-6">
    <label for="name">글쓴이</label><input class="form-control" type="text" id="name" name="name" value="" />
    </div>
    <div class="col-md-6">
    <label for="password">비밀번호</label><input class="form-control" type="password" id="password" name="password" value="" />
    </div>
    <div class="col-md-12">
    <label for="content">댓글 내용</label><textarea class="form-control" id="content" name="content"></textarea><br>
    <button class="btn btn-default">댓글 달기</button><br>
	</div>
    
</form>
{% endfor %}
</div>
</div>


{% endblock %}