{% extends 'layout.html' %}



{% block head%}
<style>
	a:hover{
		text-decoration: none;
		color:white;

	}
	.panel-body:hover{
		background-color:#23b300;
	}
</style>
{% endblock %}
{% block body %}



	<br>


<form action="/write/" method="POST">
<div class="form-group">
	<label for="category">카테고리:</label>
	<select name="category" id="category" class="form-control">
		{% for i in category %}
		<option value="{{i.id}}">{{i.title}}</option>
		{% endfor %}<br>
	</select><br>
	<label for="title">질문 제목:</label><textarea class="form-control" name="title" id="title" rows="3" placeholder="무엇이 궁금하신가요?"></textarea>
	<br>
	<label for="text">질문 내용:</label><textarea class="form-control" name="text" id="text" rows="3" placeholder="더 구체적으로 질문을 적어주세요"></textarea><br>
	
	<button type="submit" class="btn btn-success" id="submitb">질문하기</button>	
</div>
</form>

{% for i in writing %}

<a href="/blog/{{i.id}}/"><div class="panel panel-default">
<div class="panel-body">
<h4>Q. {{i.title}} ({{i.cnumber}})</h4>
<h5>{{i.category.title}} / {{i.created}}</h5>
</div>
</div>
</a>
{% endfor %}

<!--
{% if message %}
<script type="text/javascript">
	alert('글이 성공적으로 작성되었습니다');
</script>
{% endif %}
-->

<!--
<script type="text/javascript">
	
		var submit = function(){
			var title=$('#title').val()
			var text=$('#text').val()
			var category=$('#category').val()
			$.ajax({
				type:'POST',
				url:'/write/',
				data:{title:title,text:text,category:category},
				success:function(){
					alert('글이 작성되었습니다');

				},
				error:function(){
					alert('글 작성에 실패하였습니다');
				}
			})
		}

		$('#submitb').on('click',submit);

</script>
-->

{% endblock %}